<div id="pageBackground"></div>
<div id="page">
    <div id="PageInner">
        </br>
        </br>
        </br>
        </br>
        <div class="PageTitle">Genre List</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class='nameColumn'>Name</th>
                    <th class='Descriere'>Description</th>
                    <th class='dreaptaButtons'></th>
                </tr>
            </thead>
            <tr ng-repeat="genre in genres" ng-include="getTemplate(genre)"></tr>
        </table>
        <div class="PageTitle">Add Genre</div>
        <form name="addForm">
            <label class="label1" for="genreName">Name</label>
            <input type="text" id="genreName" name="genreName" ng-model="genre.name" required/>
            <div role="alert">
                <div class="error goood" ng-show="addForm.genreName.$error.required"> Nu lasa campul nume gol!</div>
                </div>
            <br/>
            <label class="label1" for="genreDescription">Description</label>
            <input type="text" id="genreDescription" name="genreDescription" ng-model="genre.description" required>
            <div role="alert"> 
                <div class="error goood" ng-show="addForm.genreDescription.$error.required"> Nu lasa campul description gol</div>
            </div>
            <br/>
            <input type="button" id="AddGenreButton" value="Add" ng-Click="addGenre(genre)" />
            <div class='space2'></div>
        </form>
        <script type="text/ng-template" id='display'>
            <td class='nameColumn'>{{genre.name}}</td>
            <td class="Descriere">{{genre.description}}</td>
            <td class="dreaptaButtons">
                <a ui-sref="genreMovies({genreId: genre.id})">Movies</a>
                <input type="button" value="delete" ng-click="deleteGenre(genre)" />
                <input type="button" value="edit" ng-click="editGenre(genre)" />
            </td>
        </script>
        <script type="text/ng-template" id="edit">
            <td>
                <input type="text" ng-model="genre.name" />
            </td>
            <td>
                <input type="text" ng-model="genre.description" />
            </td>
            <td>
                <input type="button" value="save" ng-click="saveGenre(genre)" />
                <input type="button" value="cancel" ng-click="cancelEditing()" />
            </td>
        </script>
    </div>
</div>
