<div id='pageBackground'></div>
<div id='page'>
    <div id="PageInner">
        </br>
        </br>
        </br>
        </br>
        <div class="PageTitle">Home</div>
        <div class="space2"></div>
        <div id="Welcome">Welcome to my movie collection!</div>
        <div class="MenuInstructions">
            <div>Dacă vrei să vezi lista de genuri -> click 'Genres'</div>
            <div>Dacă vrei să vezi lista întreagă de filme -> click 'All Movies!'</div>
        </div>
        <div id="bam">-----------------------------------------------------------------------------------------------------------------------------</div>
        <div id="AddingThings">Pentru a putea adăuga un gen, apasă pe butonul 'Add' după completarea formularului de pe pagina 'Genres'</div>
        <div id="AddingMovies">Pentru a putea adăuga un film, trebuie să intri la Genres-> Movies, iar apoi să dai click pe 'Add a Movie' pentru a vedea
        formularul de adăugare, iar apoi apasă Add pentru finalizare! (După ce ai completat formularul)</div>
        <div class="space2"></div>
        <div class="space2"></div>
        <div class="space2"></div>
        <div class="space2"></div>
        <div id="Enjoy">Enjoy!</div>
    </div>
</div>
