<div id='pageBackground'></div>
<div id='page'>
    <div id="PageInner">
        </br>
        </br>
        </br>
        </br>
        <div class="PageTitle">Home</div>
        <div id="Welcome">Welcome to my movie collection!</div>
        <div class="MenuInstructions">
            <div>Dacă vrei să vezi lista de genuri -> click 'Genres'</div>
            <div>Dacă vrei să vezi lista întreagă de filme -> click 'All Movies!'</div>
        </div>
        <div id="AddingThings">Pentru a putea adauga un gen, apasa pe butonul 'Add' dupa completarea formularului de pe pagina 'Genres'</div>
        <div id="AddingMovies">Pentru a putea adauga un film, trebuie sa intri la Genres-> Movies, iar apoi sa dai click pe 'Add a Movie' pentru a vedea
        formularul de adaugare, iar apoi apasa Add pentru finalizare! (Dupa ce ai completat toate spatiile)</div>
        <div id="Enjoy">Enjoy!</div>
    </div>
</div>
